@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'SF Pro Display', sans-serif;
}
html {
  height: 100%;
  font-size: 10px;
}
body {
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-family: 'Merriweather',Georgia,Serif;
}

p, span {
  margin: 0;
  color: #73737D;
  line-height: 24px;
  font-size: 16px;
}

button {
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
}

header {
  padding: 0;
}

section {
  width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 4rem;
}