html,
body {
  padding: 0;
  margin: 0;
  font-family: 'SF Pro Display', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  font-family: 'Merriweather';
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  color: #73737D;
  line-height: 24px;
}